
/*��������Ĭ����ʽ*/
*{margin:0;padding:0;list-style:none;border:0;}

/*���������Ĭ����ʽ*/
html,body{
    width: 100%;
    -height: 100%;
    margin:0;
    padding:0;
    border:0;
    color:#333;
    font-size: 14px;
    font-family: Microsoft YaHei, Helvetica, Arial, sans-serif;
}
html{
    font-size: 20px;
}
/*共公样式*/
a{
    color:#333;
    text-decoration: none;
}
a:hover{
    color:#005e66;
}
a:hover,a:focus{

    text-decoration: none;
    outline: none;
}
h2,h3,h4,h5,p,ol,ul,dl,dt,dd{
    margin:0;
}
.Typearea{
    width: 1200px;
    height: auto;
    margin:0 auto;
}
/*�������*/
.clearfix:after{
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;

}

/*���Ŀ�ʼ*/
/*����*/
.xuexiao_Bg{
    display: none;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height:100%;
    z-index: 999;
}
.xuexiao_wrap{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    padding-bottom:10px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    width: 500px;
    height:auto;
    background: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-sizing: border-box;
    z-index: 9999;
    box-shadow: 0 0 8px 0 #707070;
}
.xuexiao_wrap .xuexiaoTit{
    /*position: relative;*/
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    background: #32bde2;
    padding:0 10px;
    height: 50px;
    border-radius:6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    box-sizing: border-box;
}
.xuexiao_wrap .xuexiaoTit h2{
    float:left;
    font-size: 20px;
    line-height: 50px;
    color:#fff;
    padding-left:30px;
}
.xuexiao_wrap .xuexiaoTit span{
    float:right;
    display: block;
    text-align: center;
    line-height:49px;
    color:#fff;
    margin-right:16px;
    font-size:34px;
    box-sizing: border-box;
    cursor: pointer;
}

/*logo*/
.logo{
    width: 100%;
    margin:0 auto;
    text-align: center;
    background: #fff;
    padding:64px 0;
    z-index: 1;
}
.logo img{
    display: inline-block;
}

/*����*/
.nav{
    z-index:1;
    background: #fff;
}
.nav li{
    position: relative;
    float:left;
    margin: 0 3.6%;
}
.nav li a{
    display: block;
    font-size: 16px;
    padding:0 10px;
    text-align: center;
    line-height: 30px;
}


.xiala{
    display: none;
    position: absolute;
    left:50%;
    top:36px;
    width: 310px;
    transform:translate(-50%,0);
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    z-index:99999;
}
/*s*/

#content {
    -text-indent: 2em;
    box-shadow: 0px 0px 10px #999;
    padding: 14px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    background: #fff;
    border: 1px solid #CCC;
    z-index:999999;
    box-sizing: border-box;
}

#content span {

    position: absolute;
    left: 50%;
    transform:translate(-50%,0);
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    height: 0px;
    width: 0px;

}

/*�ϲ�С����ʵ����ʽ��ʼ*/

#content span.out {

    line-height: 0;

    border-width: 10px;

    border-color: transparent transparent #fff transparent;

    border-style: dashed dashed solid dashed;

    top: -20px;

}

/*d*/
.teseAll{
    /*position: relative;*/
    /*top:0;*/
    /*left:0;*/
    height:auto;
    z-index: -3;
    overflow: hidden;
}
.xiaL{
    width: 100%;
}
.nav .xiala li{
    float:none;
    width: 100%;
}
.nav .xiala  a{
   display: block;
    float:left;
    font-size: 14px;
    padding:0;
    color:#666;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*.nav li.on .xiala li{*/
    /*height: 60px;*/
    /*border:0;*/
/*}*/
.nav li.on .xiala li.on {
    border:0;
}
.nav .xiala li  a:nth-child(2n+1){
    width: 65%;
    padding-right:10px;
    box-sizing: border-box;

}
.nav .xiala a:hover{
    border-bottom:0;
    color: #22bbe4;
}

.topBox{background: #f5f5f5;height: 40px;border-bottom: 1px solid #eeeeee;line-height: 40px;}
.topBox .top{width: 1200px;margin: 0 auto;color: #999}

.nav li.on{
    border-bottom:2px solid #005e66;
}
.nav li.on a,.nav li.on .xiala .xiaL a:hover{
    color:#005e66;
}

.nav li.on .xiala .xiaL a{
    color:#333;
}
.nav li a:hover{
    border-bottom:2px solid #005e66;
}

.footerBox{background: #242433;padding: 50px 0;margin-top: 50px}
.footerBox .footer{width: 1200px;margin: 0 auto;}
.footerBox .footer img{margin-left: 200px}
.footerBox .footer ul{display: inline-block;vertical-align: middle;line-height: 2.5}
.footerBox .footer ul a{color: #909098;margin-left: 100px}


/*footer*/
.footer_wrap{
    width: 100%;
    height: 47px;text-align: center;
    background: #000;
}
.footer_wrap *{
    color:#909098;
    line-height: 47px;
}
/*ͼƬ�б�*/
ul.courseList{
    /*margin-top:10px;*/
    overflow: hidden;
}
ul.courseList li{
    float:left;
    width: 239px;
    height: 228px;
    margin-right:1px;
    margin-bottom:20px;
}
ul.courseList li:nth-child(5n+5){
    margin-right: 0;

}
ul.courseList li a{
    display: block;
    width: 239px;
    height: 228px;
    border: 1px solid #fff;
    background: #fff;
    padding:7px;
    box-sizing: border-box;
}
ul.courseList li a:hover{
    border: 1px solid #ddd;
    box-shadow: 0 0 4px 0 #ddd;
}
ul.courseList li a h2{
    margin-top:4px;
    font-size: 16px;
    line-height: 34px;
    font-weight: bold;
}
ul.courseList li a p{
    font-size:12px ;
    color:#999;
    line-height: 24px;
}
ul.courseList li a .bb{
    height: 24px;
    color:#999;
    line-height: 30px;
}
ul.courseList li a .bb .ren{
    float:left;
}
ul.courseList li a .bb .liu{
    float:right;
}
ul.courseList li a .Pic{
    width: 224px;
    height: 120px;
}
ul.courseList li a .bb img{
    margin-right:8px;
}
.loginrukou .rukou{
    display: none;
}
.loginrukou .xianshi{
    display: block;
}


/*����banner����*/
.ConBanner{
    width: 100%;
    height: 220px;
    background: #fff;
    position: relative;
    z-index: 1;
}
.ConBanner img{
    position: absolute;
    top:0;
    left:50%;
    transform:translate(-50%,0);
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    padding-top:10px;
}
.row {
    width:1180px;
    margin:0 auto;
    margin-bottom:20px;
}
.kec{ margin:0 0 0 20px; width:60%; float:left;}
.kcsy{ float:left;display:inline-block;width: 38%}
.kcsy img{ width:100%; height:auto;}
.mbx{ width:1180px; line-height:40px; margin:0 auto; font-size:14px;}
.zz{  min-width:1180px;}
.col-md-pull-9 img{ margin-top:20px;}
.col-md-push-3 h3{ margin-top:18px; color:#3d3d3d;}
.zz-0{ margin-top:5px;}
.zz-1{ color:#aaaaaa; font-size:14px; line-height:35px;}
.zz-1 a{ color:#5f6668;}
.zz-1 span{ color:#1d5e9e; margin:0 10px; font-size:18px;}
.zz-1 p{ color:#5f666b; display:inline;}
.zz-02 a{ background-color:#008a96; color:#FFF; padding:10px 27px; font-size:16px;display: inline-block}
.sc,.fx{ padding:5px 5px 5px 30px; border:none;outline:none; margin-left:10px; font-size:14px; color:#ff9a00;}
.sc{ background:url(../images/20.png) no-repeat 12px 6px; border-left: solid 1px #dfdfdf; padding-left:45px;}
.fx{background:url(../images/21.png) no-repeat 0 6px;}
.kd{ margin-top:40px; min-width: 1180px;padding-top: 20px}
.xxo_martopb{ margin-top:40px;}
.div-relative{ position:relative;}
.jianjie p{ color:#5f666b; font-size:14px; line-height:22px;}
.kc_tongji{overflow: hidden;margin: 20px 0;}
.kc_tongji li{float: left;width: 33.33333%;text-align: center}
.kc_tongji li span{color: #ff9a00;font-size: 18px}
.kd{ margin-top:20px; min-width: 1180px;}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    height: 55px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    margin: 0;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-top: 2px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    padding: 15px;
}

.nav-tabs>li>a:hover {
    border-top: 2px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom:1px solid #ddd;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
    color: #008a96;
    background: #fff;
    cursor: default;
    border-top: 2px solid #008a96;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid transparent;
}
.kc-1{ color:#3d3d3d; font-size:16px;margin-bottom: 20px;}
.kc-2{ display:inline-block; font-size:16px; color:#5f666b; margin-left:20px; line-height:28px;}
.td{ overflow: hidden;line-height: 2}
.td img{ border-radius:50%;}
.td a{width: 50%;display: inline-block;float: left;text-align: center;margin-bottom: 20px}
.td  p span{ float:right; color:#aaaaaa;}

/*三折叠菜单*/
#san_menu {margin:auto;position:inherit;}
#san_menu h1 { display:inline-block; font-size:16px; width:100%; line-height:40px; color:#777;margin-bottom: 0px;margin-top: 0px}

.xxo_relative{ width:100%;}
.xxo_relative:hover{ background-color:#D6EAF8; color:#777;}
.xxo_zhj_bg{color:#777; padding-left:15px; margin-bottom:1px;}
.xxo_relative a,.xxo_relative a:hover{ color:#777;}
.xxo_zhj_mar{ height:36px;}
.xxo_zhj_mar .xxo_absolute{ margin-left:20px; margin-right:5px;}
#san_menu .xxo_zhj_mar h2{ padding-left:0; padding-top:0;}
.xxo_absolute{ display:inline-block; float:left; padding:6px 0 9px 10px;}
/*.xxo_relative h1{ display:inline-block; float:left; height:41px;} */
#san_menu ul li input{ margin:0 7px 0 5px;}
#san_menu h4{ display:inline-block; font-size:14px; margin:0; line-height:31px;}
#san_menu h2 { display:inline-block; font-size:14px; padding-left:20px; line-height:30px; height:32px;margin-bottom: 0;margin-top: 0}
#san_menu ul { padding-left:15px; width:auto;}
#san_menu a { padding:2px 0; overflow:hidden;}
/*#san_menu a:hover,#san_menu h2:hover{ color:#31ac68; background-color:#f9f9f9;}*/
#san_menu .no {display:none;}
#san_menu .h1 a{color:#777;}
#san_menu .h2 a{color:#777;}
#san_menu  h1 a{color:#777;}
#san_menu ul{ font-size:14px; padding-left:40px; background:url(../images/xxo_zhango.png) repeat-y 40px 0;}
#san_menu ul li{ padding:0 0 0 25px; /*line-height:25px;*/ height:32px; line-height:32px;
    background:url(../images/xxo_zhangf.png) no-repeat 0 10px; cursor:pointer; color:#777;}

#san_menu ul li.focus,#san_menu ul li:focus,#san_menu ul li:hover,#san_menu ul li:active,#san_menu ul li:active:focus,#san_menu ul li:visited{ background:#D6EAF8 url(../images/xxo_zhange.png) no-repeat 0 10px; color:#31ac68;}
/*2016-4-22 xxin*/
.xxo_zhishi{ display:block; line-height:25px; min-height:5px; margin-left:9px; padding-left:35px;}
#san_menu .xxo_zhishi a{ display:inline-block; float:left; padding:0 5px;border: 1px solid #5e666a;border-radius: 3px;margin-right: 10px}
#san_menu .xxo_zhishi a img{margin-right: 5px}
.xxo_hbu{ margin-left:64px;}
#san_menu input[type=text]{ width:400px; height:25px; margin:0; font-size:14px;}

.xxo_san_mingm{ margin-right:0;}
.xxo_san_mingm button{ float:left; padding:0 10px; margin-top:5px; border:none; background:none; outline:0; font-size:14px;}

.ke{ float:left; width:760px;
    /*单行截断*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* IE/Safari */
    -ms-text-overflow: ellipsis;}
.jiantou{ float:right; margin-top:15px; margin-right:20px;}
.kcny{ float:left; width:250px;
    /*单行截断*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* IE/Safari */
    -ms-text-overflow: ellipsis;}
/*三级折叠菜单样式结束*/
/*添加课程目录已学和未学的图标*/
.yixue{ float:right; font-size:12px; color:#31ac68; margin-right:23px; line-height:32px; display:inline;}
.yixue a{padding:0 0;}
.yixue img{ margin-top:-5px;}