/*banner*/
.Inbanner{
    margin-top:10px;
    position: relative;
    width: 100%;

    /*min-height: 550px;*/
    overflow: hidden;
}
.Inbanner ul{
    width: 100%;
    /*min-width: 1200px;*/
}
.Inbanner ul li{
    display: none;
    position: absolute;
    top:0;
    left:50%;
    /*min-height:550px;*/
    transform:translate(-50%,0);
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
}
.Inbanner ul li img{
    width: 100%;
    display: block;
}
/*.arrow{*/
    /*position: relative;*/
    /*height: 100%;*/
    /*z-index: 9099;*/
/*}*/
.arrow a{
    display: none;
    position: absolute;
    top:50%;
    margin-top:-35px;
    width: 40px;
    height: 70px;
    background: url(../images/arr.png) no-repeat;
}
.arrow a.left{
    left:0;
    background-position:-80px 0;
}
.arrow a.left:hover{
    background-position:-40px 0;
}
.arrow a.right{
    right:0;
    background-position:right;
}

.arrow a.right:hover{
    background-position:left;
}
.Inbanner ol{
    position: absolute;
    bottom:40px;
    left:50%;
    height: 16px;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    z-index: 9999;
    cursor: pointer;
}
.Inbanner ol li{
    float:left;
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.5);
    margin:8px 11px 0;
}
.Inbanner ol li.on{
    width: 8px;
    height: 16px;
    margin-top:0;
    background: rgba(255, 255, 255, 1);
}


/*
   郑州市 管城回族区 航海东路街道   郑州市管城区 航海路中州大道福田太阳城55号楼10楼 107




   收货人：杨帅兵


   电话：15038177767

*/



.ziyuanku_wrap{
    width: 100%;
    padding: 30px 0;
    background: #f5f5f5;
}
.ziyuanku h2{
    float:left;
    width: 396px;
    font-weight: bold;
    font-size: 28px;
    line-height: 120px;
    color:#22bbe4;
}


.ziyuanku ul{overflow: hidden}
.ziyuanku li{width: 23%;float: left;border-right: 1px solid #dedede;margin-left: 2%}
.ziyuanku li:last-child{border-right: none;}
.ziyuanku p{display: inline-block;vertical-align: middle;margin-left: 20px}
.ziyuanku p{color: #666}
.ziyuanku p strong{font-size: 18px;color: #333;margin-bottom: 10px;display: inline-block}


/*Incont*/
.Incont{
    margin-top:44px;
}
.InTit{
  font-size: 24px;
  height: 40px;
}
.IncontC{
    float:left;
    width: 69%;
    margin-right: 3%;
    box-sizing:border-box;
}
.IncontC .jieshao dl{
    width: 100%;
    height: 215px;
    margin-top:10px;
    background: #f3f3f3;
}
.IncontC .jieshao dl dt{
    position: relative;
    float:left;
    height: 100%;
}
.IncontC .jieshao dl dt img{
    display: block;
    height: 100%;
}
.IncontC .jieshao dl dt .fabg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    font-size: 40px;
    padding:38px 46px;
    color:#fff;
    font-weight: bold;
    line-height: 60px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    text-align: center;
}
.IncontC .jieshao dl dd{
    float:left;
    width: 589px;
    height: 100%;
    padding:24px 18px;
    font-size: 14px;
    color:#666;
    line-height: 30px;
    text-indent: 2em;
    overflow: hidden;
    box-sizing: border-box;
}
.tuijian .InTit{
    position: relative;
}

.IncontR{
    float:left;
    width: 28%;
    margin-top: 50px;
    box-sizing:border-box;
}


/*��¼״̬*/
.rukou .dengPic{
    width: 100%;
    height: 82px;
    overflow:hidden;
}
.rukou .dengPic dt{
    float:left;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
}
.rukou .dengPic dd{
    float:right;
    text-align: right;
    font-size: 18px;
}
.rukou .dengPic dd span{
    display: block;
    line-height: 32px;
    margin-bottom:6px;
}
.rukou .dengPic dd p{
    color:#666;
}
.rukou .xiaoxi{
    height: 50px;
    border-top:1px solid #e7e7e7;
    border-bottom:1px solid #e7e7e7;
    padding:12px 0;
    box-sizing:border-box;
}
.rukou .xiaoxi li{
    width: 33.3%;
    float:left;
    border-right:1px solid #e7e7e7;
}
.rukou .xiaoxi li:last-child{
    border-right: 0;
}
.rukou .xiaoxi li img{
    display: block;
    width: 18px;
    height: 22px;
    margin:1px auto 0;
}
.rukou .jixu{
    display: block;
    margin-top: 24px;
    width: 100%;
    height: 40px;
    background: #d1e8ee;
    font-size: 16px;
    color:#666;
    line-height: 40px;
    text-align: center;
}
.rukou .jixu:hover{
    background: #bfd6db;
}
.rukou .tuichu{
    width: 100%;
    height: 34px;
    margin-top:22px;
    background: #f2f2f2;
    line-height: 34px;
}
.rukou .tuichu a{
    display: block;
}
.rukou .tuichu a.geren{
    padding-left:14px;
    float:left;
}
.rukou .tuichu a.geren img{
    margin-top:-2px;
    margin-right:6px;
}
.rukou .tuichu a.tuichudenglv{
    padding-right:14px;
    color:#999;
    float: right;
}
.rukou .tuichu a.tuichudenglv:hover{
    color:#23bbe4;
}

/* ѧϰ״̬*/
ul.jixuxuexi{
    background: #f6f6f6;
    width: 100%;
    height:auto;

}
ul.jixuxuexi li{
    width: 100%;
    height: 45px;
    padding:0 10px;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
}
ul.jixuxuexi li:last-child{
    border-bottom:0;
}
ul.jixuxuexi li a:before{
    position:static;
}
ul.jixuxuexi li a {
    font-size: 14px;
    line-height: 44px;
    padding-left:0;
}
ul.jixuxuexi li a.Courses{
    float:left;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
ul.jixuxuexi li a.Courses img{
    margin-top:-2px;
    margin-right:8px;
}

ul.jixuxuexi li a.learning{
    width: 21%;
    float:right;
    color:#23bbe4;
}
ul.jixuxuexi li a.learning:hover{
    color:#1fa9ce;
}
.IncontR .shuju ul li{
    float:left;
    width: 50%;
    background-color: #f1f7f7;

}
.LMore{
    float:right;
    width: 66px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    color:#fff;
    background: #118c91;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.LMore:hover{
    color:#fff;
    background: #86b552;
}

.IncontR .shuju ul li:nth-child(2),.IncontR .shuju ul li:nth-child(3){
    background:#dfe7e9;
}
.IncontR .shuju ul li a{
    width: 100%;
    display: block;
    padding:20% 11%;
    box-sizing:border-box;
    line-height: 0;
    color:#333;
    overflow: hidden;
}
.IncontR .shuju ul li:hover{
    box-shadow: 0 0 4px 0px #999;
}
.IncontR .shuju ul li a:before{
    position: static;
    -display: none;
}
.IncontR .shuju ul li .shul{
    margin-right:4%;
    float:left;
}
.IncontR .shuju ul li .shuR{
    float:left;
    margin-left: 15px;
    width: 50%;
    margin-top:4px;
    font-size: 16px;
}
.IncontR .shuju ul li .shuR p{
    -line-height: 0;
    height: 30px;
}
.topBox{background: #f5f5f5;height: 40px;border-bottom: 1px solid #eeeeee;line-height: 40px;}
.topBox .top{width: 1200px;margin: 0 auto;color: #999}



/*ʾ����*/
.shifanke{
    margin-top:30px;
}
.tuijian,.tuandui{
    margin-top:44px;
}
.tuandui .tuanCont{
    margin-top:12px;
}
.tuandui .tuanCont .tuanTit{
   font-size: 16px;
   color:#128c91;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #e0e0e0;
}
.tuandui .tuanCont .cons{
    padding:24px 30px;
    background: #f5f5f5;
    color:#666;
}
.tuandui .tuanCont .cons p{
    font-size: 16px;
    height: 28px;
    text-align: center;
}

.tuandui .tuanCont .cons a{
    color:#666;
    margin:0 14px;
    line-height: 28px;
    text-align: center;
}
.tuandui .tuanCont .cons a:first-child{
    margin-left:0;
 }
.tuandui .tuanCont .cons a:last-child{
    margin-right:0;
}


